/* Common CSS */
.error { color: red; }
img { max-width: 100%; border-radius: 30px; height: auto; }
.form-control:focus { background-color: transparent; box-shadow: none; border-color: unset; }

/* Header Section CSS */
.header-section { padding: 15px 0px; background-color: #131313; }
.header-section .header-title { font-size: 27px; color: #ffffff; font-weight: 700; }

/* Add-Form Section */
.add-form-section { padding: 15px 0px; }
label { margin-bottom: 5px; }
.form-control { margin-bottom: 10px; }
.profile-img-box img { margin-bottom: 15px; }


/* Media Query CSS */
@media (max-width: 991px){
    .table-main-wrap { overflow-x: scroll; }
}